<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Todo App</title>
    <link href="/output.css" rel="stylesheet" />
  </head>
  <body>
    <section
      class="flex flex-col items-center justify-center h-screen bg-gray-200"
    >
      <h1 class="text-7xl">MarTech</h1>
      <h2 class="text-5xl">Todo App</h2>
    </section>
  </body>
</html>
